.navbar-brand, .navbar-nav .nav-link {
  color: #ffffff;
}

.event-description {
    /* overflow: hidden; */
    overflow: auto;
    /* white-space: normal;  */
        white-space: normal;
    
    max-height: none;
}





.nombre{


 border-radius: 1px;
  border: 2px solid #00bcd4;
  box-shadow: 0px 0px 1px 0px #00bcd4;
  transition: box-shadow 0.3s ease;
  font-weight: bold;

}




/* .nombre {
    font-weight: bold;
    text-shadow: 0px 0px 3px #00bcd4;
} */




.search-bar {
  margin-top: 20px;
}

#carouselExampleIndicators {
  margin-top: 20px;
}

    .category {
      text-align: center;
       flex: 0 1 calc(30% - 20px);
    }

    .category img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 10px;

      
    }

.category p {
  margin: 0;
}

.category {
  position: relative;
}

.category-image {
  border-radius: 10px;
  border: 2px solid #00bcd4;
  box-shadow: 0px 0px 10px 0px #00bcd4;
  transition: box-shadow 0.3s ease;
}

.category-image:hover {
  box-shadow: 0px 0px 20px 0px #00bcd4;
}


.social-icon-link {
  border-radius: 10px;
  border: 2px solid #00bcd4;
  box-shadow: 0px 0px 10px 0px #00bcd4;
  transition: box-shadow 0.3s ease;
}

.social-icon-link:hover {
  box-shadow: 0px 0px 20px 0px #00bcd4;
}

/* original */

.container {
  text-align: center;
  border: 2px solid #00bcd4;
  padding: 20px;
  border-radius: 10px;
}

.container mt-4 h2 {
  margin-bottom: 20px;
}

.cont {
  display: flex; 
  flex-wrap: wrap;
  justify-content:center;
}

.section-title {
  font-size: 24px;
  /* color: #333; */
   color: #0d4393;
  text-align: center;
  margin-bottom: 20px;
}



.text-center {
  text-align: center;
  color: #333;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: Arial, sans-serif;
}

.product-image {
  border-radius: 10px;
  border: 2px solid #00bcd4;
  box-shadow: 0px 0px 10px 0px #00bcd4;
  transition: box-shadow 0.3s ease;
}

.event-image {
  border-radius: 10px;
  border: 2px solid #00bcd4;
  width: 100%;
  max-width: 500px; /* Ancho máximo del contenedor */
  height: auto; /* Altura automática para adaptarse al contenido */
  object-fit: cover;
}


.section-title {
  font-size: 24px;
 color: #0d4393;  text-align: center;

  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.social-icons a:hover {
  background-color: #e9e9e9;
  border-radius: 60%;
  padding: 10px;
}

.floating-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00fff29c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
}

.floating-message:hover {
  background-color: #008fb3c9;
}




/* Estilos para dispositivos de tamaño pequeño (por ejemplo, teléfonos móviles) */
@media (max-width: 768px) {
  /* .navbar-brand {
    display: block;
    text-align: center; /* Centra los logos */
   
  /* } */

  .social-icons {
    text-align: center; /* Centra los iconos */
  }

  .social-icon-link {
    display: inline-block;
    margin: 0 5px; /* Ajusta el espacio entre los iconos */
  }
}



  /* .navbar-brand img {
    display: block;
    margin: 0 auto;
  } */

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .search-bar {
    padding-left: 5px;
    padding-right: 5px;
  }

  .carousel-item img {
    max-height: 300px;
  }

  .category {
    width: 100%; /* Hace que los productos ocupen todo el ancho de la pantalla */
    max-width: none; /* Quita la restricción máxima de ancho */
    margin-bottom: 20px; /* Añade margen inferior entre productos */
  }

  .category img {
    width: 150px; /* Reduce el tamaño de la imagen en pantallas pequeñas */
    height: 150px;
  }







  .category p {
    font-size: 14px; /* Reduce el tamaño del texto en pantallas pequeñas */
  }

  .product-container {
    overflow-x: auto; /* Agrega desplazamiento horizontal cuando los productos superan el ancho del contenedor */
    white-space: nowrap; /* Evita que los elementos se envuelvan */
    margin-bottom: 20px; /* Agrega un espacio inferior para separar los productos del siguiente contenido */
  }



/* Estilos para dispositivos de tamaño pequeño (por ejemplo, teléfonos móviles) */
@media (max-width: 576px) {
  /* .navbar-brand {
    display: block;
    text-align: center; /* Centra los logos */
    /* margin: 0 auto; */
  /* }  */

  .social-icons {
    text-align: center; /* Centra los iconos */
    margin-top: 10px; /* Espacio entre los logos y los iconos */
  }

  .social-icon-link {
    display: block; /* Cambia a bloque para que estén en líneas separadas */
    margin: 5px auto; /* Centra los enlaces horizontalmente y agrega espaciado vertical */
  }




  .search-bar {
    padding-left: 15px;
    padding-right: 15px;
  }

  .carousel-item img {
    max-height: 400px;
  }

  .category {
    max-width: 200px;
  }
}

/* Estilos para dispositivos de tamaño grande (por ejemplo, computadoras de escritorio) */
@media (min-width: 992px) {
  .container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-brand {
    margin-right: 0;
    margin-left: 0;
  }

  .social-icons {
    margin-right: 0;
    margin-left: 0;
  }

  .search-bar {
    padding-left: 15px;
    padding-right: 15px;
  }

  .carousel-item img {
    max-height: 500px;
  }

  .category {
    max-width: 200px;
  }



.logo-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.logo1 {
    margin-right: 10px; /* Agrega un margen a la derecha del logo 1 */
}

.logo2 {
    margin-left: 10px; /* Agrega un margen a la izquierda del logo 2 */
}




  .social-icon-link {
    margin-left: 5px; /* Espacio entre los íconos */
  }




}







@media (max-width: 576px) {


  .logo-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.logo1 {
    margin-right: 10px; /* Agrega un margen a la derecha del logo 1 */
}

.logo2 {
    margin-left: 10px; /* Agrega un margen a la izquierda del logo 2 */
}




  .social-icon-link {
    margin-left: 5px; /* Espacio entre los íconos */
  }
}


