<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diario La Cuenca</title>
</head>
<body>

  <nav>
    <div class="container">
      <div class="logo">
        <img src="../../../assets/883b5c0e-0239-4837-8652-f890c3da7c3e.jpeg" alt="La Cuenca Logo">
        <span>La Cuenca</span>
      </div>
      <div class="categories">
        <a *ngFor="let categoria of categorias" href="#" [routerLink]="['/categoria', categoria._id]">{{ categoria.nombre }}</a>
      </div>

     

      <a href="#">Contacto</a>
    </div>
  </nav>

  <br>

  <div class="slider">
    <div class="slide-track">
      <div class="slide" *ngFor="let quien of quienes">
        <img [src]="quien.imagen" class="img-fluid" alt="Imagen de la empresa">
      </div>
      <div class="slide" *ngFor="let quien of quienes">
        <img [src]="quien.imagen" class="img-fluid" alt="Imagen de la empresa">
      </div>
    </div>
  </div>


  <footer>
    <p>&copy; 2024 Diario La Cuenca. Todos los derechos reservados.</p>
  </footer>

</body>
</html>






  <!-- <h2>Eventos en esta categoría</h2>
<div *ngIf="eventos.length > 0">
  <div *ngFor="let evento of eventos" class="evento-card">
    <img [src]="evento.imagen" alt="Imagen del evento">
    <h3>{{ evento.titulo }}</h3>
    <p>{{ evento.descripcion }}</p>

  </div>
</div>
<div *ngIf="eventos.length === 0">
  <p>No hay eventos para esta categoría.</p>
</div> -->
