<!-- <nav class="bg-light">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <a href="#">
                <img src="./assets/logo redes redondo.png"  class="iconLogo" alt="" width="120" height="120">
            </a>
            <a class="navbar-brand logo-center" href="#">
                <img src="./assets/logo2.png" alt="" width="60%" height="60%">
            </a>
            <div class="d-flex align-items-center">
                <a href="https://www.facebook.com/Palasfishingshop?mibextid=ZbWKwL" target="_blank" class="social-icon-link"><i class="fab fa-facebook fa-2x text-black mx-1"></i></a>
                <a href="https://www.instagram.com/palas_fishing_shop?igsh=MnFoeThkaG1laDFm" target="_blank" class="social-icon-link"><i class="fab fa-instagram fa-2x text-black mx-1"></i></a>
                <a href="https://wa.me/5493412504353" target="_blank" class="social-icon-link"><i class="fab fa-whatsapp fa-2x text-black mx-1"></i></a>
            </div>
        </div>
    </div>
</nav> -->





<div class="container mt-4">
 <div class="text-center">
    <h2>Productos Filtrados por Categoría</h2>
    </div>
    <a href="#" (click)="volverAtras()" class="btn btn-link"><i class="fas fa-arrow-left"></i> Volver</a>
    <div class="row">
      <div *ngFor="let producto of productosFiltrados.concat(productosFiltradosNuevos) | paginate: { itemsPerPage: 5, currentPage: pageProductos, id: 'productosFiltradosPaginator' }">
        <div class="list-group mb-3">
        <div class="list-group-item">
          <img [src]="apiUrl + '/uploads/' + producto.imagen" class="img-fluid" style="height: 150px; object-fit: cover;" alt="Producto">
          <div class="d-flex w-100 justify-content-between mt-2">
            <h5 class="mb-1">{{ producto.nombre }}</h5>
            <small>Precio: 
              <span *ngIf="producto.descuento > 0" style="text-decoration: line-through;">${{ producto.precio }}</span>
              <span *ngIf="producto.descuento > 0"> ${{ producto.precio - producto.descuento }}</span>
              <span *ngIf="producto.descuento == 0">${{ producto.precio }}</span>
            </small>
          </div>
          <p class="mb-1">{{ producto.descripcion }}</p>
          <small>Descuento: 
            <span *ngIf="producto.descuento > 0">{{ producto.descuento }}%</span>
            <span *ngIf="producto.descuento == 0">0%</span>
          </small>
          <div class="text-center mt-2">
            <a [href]="'https://api.whatsapp.com/send?phone=5493412504353&text=Hola,%20me%20interesa%20comprar%20' + producto.nombre" class="btn btn-success" target="_blank">Comprar por WhatsApp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <pagination-controls (pageChange)="pageProductos = $event" id="productosFiltradosPaginator" previousLabel="<" nextLabel=">" [directionLinks]="true"></pagination-controls>
      </div>
    </div>
  </div>
