<div class="container mt-4">
  <h2 class="text-center mb-4">Todos los Productos</h2>
  <a href="#" (click)="volverAtras()" class="btn btn-link d-block mx-auto mb-3"><i class="fas fa-arrow-left"></i> Volver</a>
  <div class="row justify-content-center">
    <div class="col-md-3 mb-3 custom-card" *ngFor="let producto of productos | paginate: { itemsPerPage: 5, currentPage: pageProductos, id: 'productosPaginator' }">
      <div class="card">
        <img [src]="apiUrl + '/uploads/' + producto.imagen" class="card-img-top img-fluid" alt="Producto">
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">Precio: {{ producto.precio }}</p>
          <p class="card-text">Descuento: {{ producto.descuento }}</p>
          <p class="card-text">Precio final: {{ producto.precioFinal }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <pagination-controls (pageChange)="pageProductos = $event" id="productosPaginator" previousLabel="<" nextLabel=">" [directionLinks]="true" class="d-flex justify-content-center"></pagination-controls>
    </div>
  </div>
</div>

