
<div class="container mt-4">
  <div class="text-center">
    <h2 class="section-title">Todos los Sorteos</h2>
  </div>
  <a href="#" (click)="volverAtras()" class="btn btn-link"><i class="fas fa-arrow-left"></i> Volver</a>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let producto of sorteos | paginate: { itemsPerPage: 4, currentPage: pageProductos, id: 'productosPaginator' }">
      <div class="list-group mb-3">
        <div class="list-group-item">
          <img [src]="apiUrl + '/uploads/' + producto.imagen" class="img-fluid" style="height: 150px; object-fit: cover;" alt="Producto">
          <div class="d-flex w-100 justify-content-between mt-2">
            <h5 class="mb-1 nombre">{{producto.nombre.charAt(0).toUpperCase() + producto.nombre.slice(1) }}</h5>
          </div>
          


   <p class="mb-1 descripcion" [ngClass]="{ 'collapsed': !producto.expandido }">{{ producto.descripcion }}</p>
    


          <p class="mb-1">{{ producto.fecha | date: 'dd/MM/yyyy' }}</p>
        <!-- Botón de Comprar por WhatsApp -->
                    <div class="d-inline-block">
                        <a [href]="'https://api.whatsapp.com/send?phone=5493412504353&text=Hola,%20me%20interesa%20participar%20' + producto.nombre " class="btn btn-success" target="_blank">¡¡Quiero Participar!!</a>
                    </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <pagination-controls (pageChange)="pageProductos = $event" id="productosPaginator" previousLabel="<" nextLabel=">" [directionLinks]="true"></pagination-controls>
    </div>


<footer class="container-fluid text-center">
  <p>&copy; 2024 Derechos Reservados | Desarrollado por <a href="https://www.ateneasoftware.net" target="_blank">Ateneasoftware.net</a></p>
  <img src="./assets/iconoAtenea.webp" alt="Icono de la empresa" style="width: 150px;">
</footer>